/* Adicione o CSS complementar ao seu arquivo styles.css */

/* Estilo para o container principal */
.container {
    max-width: 800px; /* Aumentando a largura máxima */
    margin: 50px auto; /* Ajustando a margem superior */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título principal */
h1 {
    text-align: center;
}

/* Estilo para a lista de itens */
ul {
    list-style-type: none; /* Remover os marcadores de lista */
    padding-left: 0; /* Remover o recuo padrão da lista */
}

/* Estilo para os botões de navegação */
.btn {
    margin-top: 20px; /* Espaçamento superior para separar os botões */
}

/* Estilo para o formulário */
form {
    display: flex;
    flex-direction: column;
}

/* Estilo para os rótulos do formulário */
label {
    margin-bottom: 8px;
}

/* Estilo para os campos de entrada de texto */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="CNPJ"],
button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para o botão de envio */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo para o efeito hover no botão de envio */
button:hover {
    background-color: #0056b3;
}

  /* Aplique um espaçamento inferior aos campos do formulário */
  .form-group {
    margin-bottom: 20px;
}
/* Estilo para o formulário */
.custom-form {
    max-width: 800px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centralizar o formulário na tela */
    padding: 20px; /* Espaçamento interno do formulário */
    border: 1px solid #ccc; /* Borda do formulário */
    border-radius: 5px; /* Borda arredondada */
    background-color: #f9f9f9; /* Cor de fundo do formulário */
    margin-bottom: 30px; /* Adiciona margem inferior para separar os formulários */
}
/* Estilo para o título do subgrupo */
.subgrupo-title {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
} 
.btn-container {
    text-align: center;
    margin-top: 20px;
}
.btn-container .btn {
    margin: 0 5px;
    
}
.btn-container .btn-left {
    float: left;
}
.btn-container .btn-right {
    float: right;
}
.btn-container .btn-group {
    display: inline-block;
}