<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Página</title>
</head>
<body>
    <h1>Nova Página</h1>
    
    <form method="POST">
        {% csrf_token %}
        {% for subgrupo, itens in itens_por_subgrupo.items %}
        <h2>{{ subgrupo.nome_subgrupo }}</h2>
        {% for item in itens %}
        <label for="id_item_{{ item.id }}">{{ item.nome_item }}</label>
        {% if item.tipo == 'checkbox' %}
        <input type="checkbox" id="id_item_{{ item.id }}" name="item_{{ item.id }}">
        {% elif item.tipo == 'descritivo' %}
        <input type="text" id="id_item_{{ item.id }}" name="item_{{ item.id }}">
        {% elif item.tipo == 'lista' %}
        <select id="id_item_{{ item.id }}" name="item_{{ item.id }}">
            {% for opcao in item.lista.opcaolista_set.all %}
            <option value="{{ opcao.id }}">{{ opcao.descricao }}</option>
            {% endfor %}
        </select>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <button type="submit">Salvar</button>
    </form>
</body>
</html>